[submodule "gitport/tools/cvs2svn"]
	path = gitport/tools/cvs2svn
	url = https://github.com/mhagger/cvs2svn.git
[submodule "gitport/tools/hg-fast-export"]
	path = gitport/tools/hg-fast-export
	url = https://github.com/frej/fast-export.git
